@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Orbitron:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .nav-brand {
    font-family: "Orbitron", sans-serif;
  }
}
